@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './variables';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }
}

body {
  min-width: 375px;
  width: 100%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  word-wrap: break-word;

  overflow-x: hidden;
}

a {
  display: block;

  font-size: 12px;
  text-decoration: none;

  color: inherit;
}

button {
  border: 1px solid transparent;

  font-size: 12px;

  cursor: pointer;
}

input, textarea {
  width: 100%;

  border: 1px solid transparent;

  background-color: #fff;

  box-sizing: border-box;

  &:disabled {
    &::placeholder {
      color: $grey;
    }
  }
}