:global(.sidebar) {
  min-height: 100vh;

  background-color: #BDBDBD;

  button:first-of-type {
    margin-top: 20px;
  }

  button:last-of-type {
    margin-top: 10px;
  }
}

:global(.user_list) {
  width: 100%;
  max-width: 420px;

  margin: 0 auto;

  h1 {
    margin-bottom: 20px;

    font-size: 18px;
  }
}