@import '../../../../assets/scss/variables';

.button {
  display: block;

  padding: 5px 15px;

  text-align: start;

  border-radius: 5px;

  background-color: $blue;
  color: #fff;

  &[type='submit'] {
    margin-left: auto;

    background-color: $green;
  }

  &:disabled {
    background-color: $grey;

    cursor: inherit;
  }
}